<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout}">

<body>
    <div th:fragment="content">
        <div class="container">
            <form th:action="@{/backend/categorias/modificar/{id}(id=${categoria.id_categoria})}" 
            	method="post">
            	<input type="hidden" th:value="${categoria.id_categoria}" name="id_categoria">
            	
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" 
                    th:value="${categoria.nombre}" name="nombre">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" class="form-control" id="descripcion" 
                    th:value="${categoria.descripcion}" name="descripcion">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    </div>
</body>

</html>
