<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout}">

<body>
	<div th:fragment="content">
		<div class="agregar-boton">
			<a th:href="@{#}" class="btn btn-success"
			id="boton-agregar-producto">
				<i class="fa fa-add"></i> Agregar Producto
			</a><br>
		</div>
		<div class="container">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Foto</th>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Stock</th>
						<th>Precio</th>
						<th>Categoría</th>
						<th colspan="2">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${productos}"  th:data-id="${producto.id_producto}">
						<td style="text-align: center;"><img
							th:src="${producto.imagen}" alt="Foto del Producto"
							style="width: 40px;"></td>
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.descripcion}"></td>
						<td style="text-align: center;" th:text="${producto.stock}"></td>
						<td style="text-align: center;"
							th:text="'$ ' + ${producto.precio} + '.-'"></td>
						<td><span th:each="categoria : ${categorias}"
							th:if="${categoria.id_categoria == producto.categoria.id_categoria}"
							th:text="${categoria.nombre}"></span></td>

						<td class="acciones-table"><a
							th:href="@{#}"
							class="btn btn-warning btn-modificar-prod"> 
							<i class="fa fa-pencil"></i>
						</a></td>
						<td class="acciones-table"><a
							th:href="@{#}"
							class="btn btn-danger btn-eliminar-prod"> 
							<i class="fa fa-trash"></i>
						</a></td>

					</tr>
				</tbody>
			</table>
		</div>
		<div id="modalEliminarProducto" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="modalEliminarProductoLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalEliminarProductoLabel">Confirmar
							eliminación</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">¿Está seguro de que desea eliminar
						este producto?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-danger"
							id="confirmarEliminacionProducto">Eliminar</button>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>




</html>
