<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout}">
<body>
	<div th:fragment="content">
		<div class="agregar-boton"></div>
		<div class="container">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Foto</th>
						<th>Nombre</th>
						<th>Cantidad</th>
						<th>Precio</th>
						<th>Subtotal</th>
						<th style="width: 4rem;">Eliminar</th>
					</tr>
				</thead>
				<tbody id="carrito-table"></tbody>
			</table>
			<p>
				Total: <span id="total-amount"></span>
			</p>
			<a href="#" class="btn btn-success" id="btn-compar-carrito">Comprar</a>
		</div>
		<div class="container">
			<div class="payment-section">
				<h2>Medios de Pago</h2>
				<div class="payment-icons">
					<a href="#" class="payment-icon"> <i class="fab fa-cc-visa"></i>

					</a> <a href="#" class="payment-icon"> <i
						class="fab fa-cc-mastercard"></i>

					</a> <a href="#" class="payment-icon"> <i class="fab fa-cc-amex"></i>

					</a> <a href="#" class="payment-icon"> <i class="fab fa-cc-paypal"></i>

					</a> <a href="#" class="payment-icon"> <i
						class="fab fa-cc-apple-pay"></i>

					</a> <a href="#" class="payment-icon"> <i
						class="fab fa-cc-amazon-pay"></i>

					</a> <a href="#" class="payment-icon"> <i class="fas fa-university"></i>

					</a> <a href="#" class="payment-icon"> <i
						class="fas fa-money-bill-wave"></i>

					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
