<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout}">
<body>
	<div th:fragment="content">
		<div class="agregar-boton"></div>
		<div class="container">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Foto</th>
						<th>Nombre</th>
						<th>Cantidad</th>
						<th>Precio</th>
						<th>Subtotal</th>
						<th style="width: 4rem;">Eliminar</th>
					</tr>
				</thead>
				<tbody id="carrito-table"></tbody>
			</table>
			<div class="d-flex botonera-carrito-pago">
				<p>
					Total: <span id="total-amount"></span>
				</p>
				<a href="#" class="btn btn-success" id="btn-compar-carrito">Comprar</a>
			</div>
		</div>
		<div class="container">
			<div class="payment-section">
				<h2>Medios de Pago</h2>
				<div class="payment-icons">
					<a href="#" class="payment-icon"> <i class="fab fa-cc-visa"></i>

					</a> <a href="#" class="payment-icon"> <i
						class="fab fa-cc-mastercard"></i>

					</a> <a href="#" class="payment-icon"> <i class="fab fa-cc-amex"></i>

					</a> <a href="#" class="payment-icon"> <i class="fab fa-cc-paypal"></i>

					</a> <a href="#" class="payment-icon"> <i
						class="fab fa-cc-apple-pay"></i>

					</a> <a href="#" class="payment-icon"> <i
						class="fab fa-cc-amazon-pay"></i>

					</a> <a href="#" class="payment-icon"> <i class="fas fa-university"></i>

					</a> <a href="#" class="payment-icon"> <i
						class="fas fa-money-bill-wave"></i>

					</a>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="confirmDeleteModal" tabindex="-1"
            role="dialog" aria-labelledby="confirmDeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar
                            eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">¿Estás seguro de que deseas eliminar
                        este producto del carrito?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelDeleteButton"
                            data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger"
                            id="confirmDeleteButton">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>
